@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotasModel
@{
}

<h2 class="text-center my-3">Editar Mascotas</h2>
<div class="contenedor">
    <form class="formulario" method="post" >
        <div class="campo">
            <input type="hidden" asp-for = "mascota.Id" />
            
            <label class="campo__label"  asp-for="mascota.Nombre"></label>
            <input class="form-control2" asp-for="mascota.Nombre" class="form-control">
            <label class="campo__label" asp-for="mascota.Color"></label>
            <input class="form-control2" asp-for="mascota.Color" class="form-control">
            <label class="campo__label" asp-for="mascota.Raza"></label>
            <input class="cform-control2" asp-for="mascota.Raza" class="form-control">
            <label class="campo__label" asp-for="mascota.Especie"></label>
            <input class="form-control2" asp-for="mascota.Especie" class="form-control">
            
            <label class="campo__label" for="dueno">Dueño</label>
            <select id="dueno" asp-for="mascota.Dueno.Id" name = "duenoId">
                <option value="0">Seleccione un Dueño</option>
                @foreach (var dueno in Model.listaDuenos)
                {
                    <option value="@dueno.Id">@dueno.Nombres @dueno.Apellidos</option>
                    
                }
            </select>
            <label class="campo__label" for="veterinario">Veterinario</label>
            <select id="veterinario" asp-for="mascota.Veterinario.Id" name = "veterinarioId">
                <option value="0">Seleccione un Veterinario</option>
                @foreach (var veterinario in Model.listaVeterinarios)
                {
                    <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
                }
            </select>

            <button type="submit" class="btn btn-primary">Grabar</button>
        </div>
    </form>
</div>

<a asp-page="./ListarMascotas" class="btn-default" >Lista de Mascotas </a>
