@page
@model MascotaFeliz.App.Frontend.Pages.ListarDuenosModel
@{
}

<div class="titulo">
    <h2>Listado de Dueños</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>Correo</th>
			<th>Acciones<th>
        </tr>
    </thead>
    <tbody>
    @foreach (var dueno in Model.ListarDuenos)
    {
      <tr>
       <td>@dueno.Nombres</td>
       <td>@dueno.Apellidos</td>
       <td>@dueno.Direccion</td>
       <td>@dueno.Telefono</td>
       <td>@dueno.Correo</td>       
       <td>
	    <!-- TODO:// Hacer metodo ver-->
          <a class="btn btn-primary" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
              <i class="fa-solid fa-eye ms-1"></i>
          </a>
		  <!-- TODO:// Hacer metodo editar-->
          <a class="btn btn-warning mx-3" asp-page="./EditarDuenos" img src="./img/btnbuscar" asp-route-duenoId="@dueno.Id">
              <i class="fa-solid fa-pencil ms-1"></i>
          </a>
          <!-- TODO:// Hacer metodo borrar-->
          <a class="btn btn-danger" asp-page="./EliminarDueno" img src="./img/btnbuscar" asp-page="./EliminarDueno" asp-route-duenoId="@dueno.Id">
          <i class="fa-solid fa-trash ms-1"></i>
            </a>
        </td>
      </tr>
    }
	</tbody>
</table>